
body {
    font-size: 1em;
    line-height: 1.66;
    -webkit-text-size-adjust: none;
}

body,
button {
    font-family: 'Agency FB', sans-serif;
}

h1 {
    font-size: 5.20em;
    margin: 0.8em 0 0.4em 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
 }
h2 {
    font-size: 1.50em;
    margin: 1.0em 0 0.6em 0;
    font-weight: 800;
}


p {
    margin: 1.9em 0
}

.header {
    z-index: 100;
    margin: 0 auto;
    padding: 1em;
    width: 50%;
    text-align: center;
    background-color:bisque;
    -webkit-backface-visibility: hidden;
}
.footer {

    width: 100%;
    text-align: center;
    background-color:khaki;
    -webkit-backface-visibility: hidden;
    
}
.footer h3:link, h3:visited {
    background-color: #f44336;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
  
  h3:hover, h3:active {
    background-color: bisque;
  }

.header h1 {
    margin: .9em 0 0 0;
    padding: 0;
    font-weight: 300;
    font-size: 2.5em;
    line-height: 1.4;
    -webkit-backface-visibility: hidden;
}

.diri {
    text-align: center;
    padding: 0 0 1em 0;
}

@media screen and (min-width: 600px) {
    .header img {
        max-height: 150px;
        border-radius: 50%;
    }
 }